<h1>{{ company.name }}</h1>
<a href="/company/{{company.id}}/menus"><h2>Menus</h2></a>
<a href="/company/{{company.id}}/locations"><h2>Locations</h2></a>
<br>
<article>
    <label>
        Name:
        <span>{{company.name}}</span>
    </label>
    <br>
    <span>{{company.logoURL}}</span>
</article>